<%= form_with(model: [post, comment]) do |form| %>
  <div class="form-group">
    <%= form.text_area :content, placeholder: "コメントを入力してください", class:"form-control" %>
  </div>
  <%= form.submit "コメント", class: "btn btn-primary" %>
<% end %>
