<div class="container text-center">
  <h1 class="display-4" id="service">Be Better Offとは？</h1>
  <p class="lead">大切な人へのプレゼント選び〜渡した時の反応まで、ストーリーシェア型の掲示板です。</p>
</div>
<br>
<ul class="list-unstyled container block-center">
  <li class="media">
    <%= image_tag "present.jpeg", class:"mr-3" %>
    <div class="media-body">
      <h5 class="mt-0 mb-1"><i class="far fa-star"></i> サービス特徴</h5>
      大切な人へのプレゼント選びの際の参考サイトとして利用可能<br>
      皆さんのプレゼント経験[年代、性別、職業、プレゼントしたモノ(行動)、予算、あなたの想い、その時の状況、相手の反応]をシェア<br>
    </div>
  </li>
  <br>
  <br>
  <li class="media">
    <%= image_tag "misson.jpeg", class:"mr-3" %>
    <div class="media-body">
      <h5 class="mt-0 mb-1"><i class="far fa-star"></i> ミッション</h5>
      -日常生活に少しのハッピーを-<br>
      プレゼント選びの参考にネットで検索しても、アフィリエイトサイトばかりでリアルな情報を見つけることが難しく苦労しました。<br>
      結局、プレゼント選びで有益だった情報は、身近な友人の話を具体的に聞かせてもらった時でした。<br>
      <br>
      この経験から、もっと気軽にたくさんの人のプレゼントストーリーを共有することで、より多くの人のプレゼント選びの参考になります。<br>
      受け取る側も、選ぶ側もハッピーな人が増えればいいなと思い、本サービスを立ち上げました。
    </div>
  </li>
</ul>
