<% provide(:title, '利用規約') %>

<div class="jumbotron jumbotron-fluid bg-transparent">
  <div class="container text-left">
    <h1 class="display-4">利用規約</h1><br>
    <p class="lead">
      <%= render 'policy_content' %>
    </p>
  </div>
</div>
