<% provide(:title, 'サービス概要') %>

<div class="jumbotron jumbotron-fluid bg-transparent">
  <div class="container text-center">
    <h1 class="display-4">Be Better Offとは？</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
  <br>
  <ul class="list-unstyled container block-center">
    <li class="media">
      <%= image_tag "present.jpeg", class:"mr-3" %>
      <div class="media-body">
        <h5 class="mt-0 mb-1">特徴</h5>
        Cras sit amet nibh libero, in gravida nulla.<br>
        Nulla vel metus scelerisque ante sollicitudin.<br>
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.<br>
        Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </li>
    <br>
    <br>
    <li class="media">
      <%= image_tag "misson.jpeg", class:"mr-3" %>
      <div class="media-body">
        <h5 class="mt-0 mb-1">ミッション</h5>
        Cras sit amet nibh libero, in gravida nulla.<br>
        Nulla vel metus scelerisque ante sollicitudin.<br>
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.<br>
        Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </li>
  </ul>
</div>
