.parent{
  width: 300px;
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid #aaa;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin:  0 auto;
}
.inner{
  padding: 5px;
  margin: 0 10px;
  width: 240px;
  display: inline-block;
}
