<div class="card-footer fixed-bottom text-center bg-transparent d-flex justify-content-around" >
  <%= link_to 'お問い合わせ', home_contact_path, class: "text-muted" %>
  <%= link_to '利用規約', home_policy_path, class: "text-muted" %>
  <a href="https://twitter.com/takannporo" class="text-muted" target="_blank"><i class="fab fa-twitter"></i></a>
</div>
