<div class="card-footer fixed-bottom text-center bg-transparent d-flex justify-content-around" >
  <a href="#" class="text-muted">お問い合わせ</a>
  <a href="#" class="text-muted">利用規約</a>
  <a href="https://twitter.com/takannporo" class="text-muted" target="_blank"><i class="fab fa-twitter"></i></a>
</div>
