<div class="card-footer text-center bg-transparent d-flex justify-content-around" id="footer" >
  <%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLScppVCoUMlfpb4CJv8PrO5Wr0fUddLgAEPchU6jOZYO2M36Ew/viewform?usp=pp_url', class: "text-muted" %>
  <%= link_to '利用規約', home_policy_path, class: "text-muted" %>
  <a href="https://twitter.com/takannporo" class="text-muted" target="_blank"><i class="fab fa-twitter"></i></a>
</div>
