<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
  <%= link_to 'be better off', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">サービス概要</a>
      <a class="nav-item nav-link" href="#">投稿一覧</a>
      <a class="nav-item nav-link" href="#">メンバー登録(無料)</a>
      <a class="nav-item nav-link" href="#">ログイン</a>
      <a class="nav-item nav-link" href="#">管理人ログイン</a>
      <a class="nav-item nav-link" href="#">お問い合わせ</a>
    </div>
  </div>
</nav>
